<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户登录</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/sign.css"/>
</head>
<body>
<section class="content">
    <div class="row">

        <div class="box box-info" >
            <div class="box-body" align="center" style="min-height: 500px  ">
                <h2 style="color: red">会话超时,请重新登陆</h2>
                <a href="/login.html">点击跳转至登陆页面</a>
                <br>
                <img src="/images/333.jpg" style="max-height: 300px;max-width: 300px">
            </div>

        </div>
        <div>

        </div>
    </div>

</section>
<script>
  /*  $(function () {
        window.location.href="/login.html?msg=会话超时，请重新登陆....."
    })*/
</script>
</body>
</html>

