<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<div th:include="common/resource :: #resource_html"></div>-->
    <title>测评标准管理</title>
    <style>
        .example-modal .modal {
            position: relative;
            top: auto;
            bottom: auto;
            right: auto;
            left: auto;
            display: block;
            z-index: 1;
        }

        .example-modal .modal {
            background: transparent !important;
        }
    </style>
</head>
<body>
<div>

    <!--<section class="content">-->
    <!--<div class="box box-info ">-->
    <!--<form class="form-inline">-->
    <!--<div class="box-body ">-->

    <!--<div class="input-group col-lg-3">-->
    <!--<div class="input-group-btn">-->
    <!--<span type="button" class="btn btn-danger">姓名</span>-->
    <!--</div>-->
    <!--<input class="form-control col-sm-2"/>-->
    <!--</div>-->
    <!--<div class="input-group"></div>-->
    <!--<div class="input-group"></div>-->
    <!--<div class="input-group"></div>-->
    <!--<div class="input-group">-->
    <!--<div class="input-group-btn">-->
    <!--<span type="button" class="btn btn-danger">性别</span>-->
    <!--</div>-->
    <!--<input class="form-control col-sm-2"/>-->
    <!--</div>-->

    <!--</div>-->
    <!--<div class="box-footer" align="center">-->
    <!--<button type="submit" class="btn btn-info ">查询</button>-->
    <!--<button type="submit" class="btn btn-info ">重置</button>-->
    <!--</div>-->
    <!--</form>-->
    <!--</div>-->
    <!--</section>-->
    <section class="content">
            <div class="box box-info">
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="#" class="btn   left20" role="button" onclick="add()">
                                    <span class=" glyphicon glyphicon-plus" aria-hidden="true"
                                          style="margin-right: 5px"></span>添 加</a>
                                <a id="btnEdit" href="#" class="btn   left20" role="button" onclick="edit()">
                                    <span class=" glyphicon glyphicon-edit" aria-hidden="true"
                                          style="margin-right: 5px"></span>修 改</a>
                                <a href="#" class="btn   left20" role="button" onclick="removeEvaluate()">
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"
                                          style="margin-right: 5px"></span>删 除</a>
                                <a href="#" class="btn   left20" role="button" onclick="config()">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"
                                          style="margin-right: 5px"></span>配 置</a>
                                <table id="dataTable"
                                       class="table table-hover table-striped table-bordered text-center">
                                    <thead>
                                    <tr class="info">
                                        <th field="checkbox"><input type="checkbox" name="checkAll" id="checkAll"
                                                                    value=""/></th>
                                        <th field="name">评测项名称</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="3">
                                            <span class="box-title">数据加载中....</span>
                                            <i class="fa fa-refresh fa-spin"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" id="pageDiv">
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="content">
        <!--
       .modal，用来把 <div> 的内容识别为模态框。
       .fade class。当模态框被切换时，它会引起内容淡入淡出。
       aria-labelledby="myModalLabel"，该属性引用模态框的标题。
       aria-hidden="true" 用于保持模态窗口不可见，直到触发器被触发为止
       <div class="modal-header">，modal-header 是为模态窗口的头部定义样式的类
       class="close"，close 是一个 CSS class，用于为模态窗口的关闭按钮设置样式。
       data-dismiss="modal"，是一个自定义的 HTML5 data 属性。在这里它被用于关闭模态窗口。
       class="modal-body"，是 Bootstrap CSS 的一个 CSS class，用于为模态窗口的主体设置样式。
       class="modal-footer"，是 Bootstrap CSS 的一个 CSS class，用于为模态窗口的底部设置样式。
       data-toggle="modal"，HTML5 自定义的 data 属性 data-toggle 用于打开模态窗口。
       注意点弹出框外面或者esc可以直接退出弹出框
       -->

        <div class="example-model">
            <div class="modal fade" id="modal-default">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">评测标准基本信息维护</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-horizontal" onsubmit="return false" id="form">
                                <input type="hidden" id="id"/>
                                <div class="form-group">
                                    <!--lable可使用.col-sm-*等方法设置宽度-->
                                    <label for="name" class="col-sm-5 control-label">评测标准项名称:</label>
                                    <!--input要在其外包装一个div.col-sm-*来设置宽度-->
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="name" id="name"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" onclick="save()">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<script>
    $(function () {
        $('#dataTable').initTableData({"url": "/evaluate/evaluateList", "data": {"size": 10}});
    })

    function add() {
        $('#id').removeAttr("name")
        $('#name').val('')
        $('#modal-default').modal('show')
    }

    function save() {
        var data = $('#form').serialize();
        $.ajax({
            type: "post",
            dataType: "json",
            data: data,
            url: "/evaluate/save",
            success: function (resp) {
                if (resp.responseCode == 1) {
                    $('#modal-default').modal('hide')
                    swal('保存成功', '提示信息', 'success')
                    $('#dataTable').initTableData({"url": "/evaluate/evaluateList", "data": {"size": 10}});

                   /* $.get("/evaluate/evaluateList", {}, function (resp) {
                        $('#dataTable').initTableData(resp);
                    })*/

                }
            }
        })
    }

    function edit() {
        var ins = $('#dataTable input:checked')
        if (ins.length != 1) {
            swal('请选择一条信息进行配置操作..', '提示信息', "warning")
            return
        }
        var _v = JSON.parse(ins.val())
        $('#id').attr("name", "id");
        $('#id').val(_v.id);
        $('#name').val(_v.name);
        $('#modal-default').modal('show');
    }

    function removeEvaluate() {

        var ins = $('#dataTable tbody input:checked')
        if (ins.length <= 0) {
            swal('请至少选择一条信息', '提示信息', "warning")
            return
        }
        var ids = "";
        $.each(ins, function (i, t) {
            var _v = JSON.parse($(t).val())
            ids += _v.id + ",";
        })
        $.post("/evaluate/removeValid", {"ids": ids}, function (resp) {
            if (resp.responseCode != 1) {
                swal("系统异常,请联系维护人员", '提示信息', 'warning');
                return;
            }
            if (resp.data != null && resp.data.length > 0) {
                var names = "";
                $.each(resp.data, function (i, t) {
                    names += t.name + ",";
                })
                swal("所选择的" + names + "评测标准项下，仍有配置信息,无法进行删除操作。", "提示信息", "warning")
                return;
            }
            swal({
                    title: "确定删除吗？",
                    text: "你将无法恢复该数据！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确定删除！",
                    cancelButtonText: "取消删除！",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        $.post("/evaluate/delete", {"ids": ids}, function (resp) {
                            if (resp.responseCode != 1) {
                                swal("删除失败", "提示信息", "warninig");
                                return
                            }
                            swal("删除成功", "提示信息", "success")
                            $('#dataTable').initTableData({"url": "/evaluate/evaluateList", "data": {"size": 10}});

                        }, "json")
                    } else {
                        swal("提示信息", "取消！",
                            "success");
                    }
                });
        }, 'json')
    }

    function config() {
        var ins = $('#dataTable input:checked')
        if (ins.length != 1) {
            swal('请选择一条信息进行配置操作..', '提示信息', "warning")
            return
        }
        var _v = JSON.parse(ins.val())
        $('#container').load("/evaluate/evaluateConfig?id=" + _v.id);

    }

</script>
</body>
</html>
